<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi, <%= @application.owner_name %></h1>
    <p>
      Your Auth Token is: <%= @application.api_key.auth_token %><br/>
    </p>
  
  </body>
</html>