<!doctype html>
 
<html data-ng-app="toerhApp">
<head>
    <meta charset="utf-8">
     
    <title>SPA AngularJS</title>
    <base href="/angular/"/>
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/dashboard.css">
</head>
 
<body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">TOERH SPA</a>

            <form class="navbar-form navbar-left" data-ng-controller="SearchController">
              <input type="text" class="form-control" ng-model="searchWord" placeholder="Search for resouce title...">
              <button class="btn btn-default" ng-click="searchBox(searchWord)"> Search</button>
            </form>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right" data-ng-controller="AuthController">
            <li data-ng-hide="isLoggedIn()"><a href="http://secret-mesa-8573.herokuapp.com/authenticate?callback=http://joelstahre.com/angular/">Sign in with GitHub</a></li>

            <li data-ng-show="isLoggedIn()"><a ng-click="signout()" href="#">Signout</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar" data-ng-controller="AuthController">
            <li class="active"><a href="#/resources">All Resources</a></li>
            <li data-ng-show="isLoggedIn()"><a href="#/add">Add Resourse</a></li>
            <li data-ng-show="isLoggedIn()"><a href="#/myResources">List all my Resourses</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <alert-Messages></alert-Messages>
          <div data-ng-view></div>

        </div>
      </div>
    </div>
 
    <!--Vendor libs-->
    <script src="js/angular.js"></script>
    <script src="js/angular-route.js"></script>
    <script src="js/jquery.js"></script>

    <!--UI libs-->
    <script src="js/bootstrap.min.js"></script>


    <!--App libs-->
    <script src="app/app.js"></script>

    <!--Controllers-->
    <script src="app/controllers/resourcesController.js"></script>
    <script src="app/controllers/myResourcesController.js"></script>
    <script src="app/controllers/addController.js"></script>
    <script src="app/controllers/editController.js"></script>
    <script src="app/controllers/authController.js"></script>
    <script src="app/controllers/searchController.js"></script>

    <!--Services-->
    <script src="app/services/resourcesService.js"></script>
    <script src="app/services/typesService.js"></script>
    <script src="app/services/licenceService.js"></script>
    <script src="app/services/alertsService.js"></script>

    <!--Directives-->
    <script src="app/directives/alertMessageDirective.js"></script>

    <!--Filters-->
    <script src="app/filters/dateConvert.js"></script>


</body>
</html>