<h1>Edit Resource</h1>

<div class="container">
  <form name="form" novalidate>
    <fieldset>

      <div class="form-group">
        <label>Title</label>
        <input type='text' class="form-control" ng-model="resource.title" name="title" required/>
       

        <div data-ng-show="form.title.$dirty && form.title.$invalid">
            <span data-ng-show="form.title.$error.required">Title is required.</span>
        </div>



      </div>

      <div class="form-group">
        <label>Description</label>
        <textarea type='text' class="form-control" ng-model="resource.desciption" name="description" required></textarea>
        
        <div data-ng-show="form.description.$dirty && form.description.$invalid">
          <span data-ng-show="form.description.$error.required">Description is required.</span>
        </div>

      </div>


      <div class="form-group">
        <label>URL</label>
        <input type='text' class="form-control" placeholder="www.example.com" ng-model="resource.url" name="url" required/>
        
        <div data-ng-show="form.url.$dirty && form.url.$invalid">
          <span data-ng-show="form.url.$error.required">Url is required.</span>
        </div>

      </div>

      <div class="form-group">
        <label>Rescource Type</label>
        <select class="form-control" ng-model="type" ng-options="t.resource_type.resource_type for t in types"></select>
      </div>

      <div class="form-group">
        <label>Licence</label>
        <select class="form-control" ng-model="licence" ng-options="l.licence.licence for l in licences">
        </select>
      </div>

      <div class="form-group">
        <label>Tags</label>
        <input type='text' class="form-control" ng-model="resource.editTag" name="tags" required/>

        <div data-ng-show="form.tags.$dirty && form.tags.$invalid">
          <span data-ng-show="form.tags.$error.required">Tag is required.</span>
        </div>
      </div>



        <button type='submit' data-ng-disabled="form.$invalid" class="btn btn-primary" data-dismiss="modal" ng-click="save()">Save</button>
    </fieldset>
  </form>
</div>