<h1>Lisy My Resources</h1>

<div ng-init="search = {}">


<select ng-change="search = {}" ng-model="type" ng-init="type = '$'" class="form-control">
    <option value="$">All</option>
    <option value="title">Title</option>
    <option value="url">URL</option>
    <option value="licence">Licens</option>
    <option value="resource_type">Typ</option>
    <option value="tags">Tagg</option>
  </select>



  <input type="text" ng-model="search[type]" placeholder="Search" class="form-control">
<br>

<div data-ng-repeat="resource in resources | filter:search:false">
 
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{resource.resource.title}}</h3>
        </div>
        <div class="panel-body">
            <p>Created: {{resource.resource.created_at | dateConvert:'resource.resource.created_at'}}</p>
            <p>Description: {{resource.resource.desciption}}</p>
            <p>URL: <a href="'{{resource.resource.url}}'">{{resource.resource.url}}</a></p>
            <p>Type: {{resource.resource.resource_type.resource_type}}</p>
            <p>Licence: {{resource.resource.licence.licence}}</p>

            <p>Tags: </p>
            <div>
                <span data-ng-repeat="tag in resource.resource.tags">
                    <span class="label label-default">{{tag.tag}}</span>
                </span>
            </div>
        </br>
            <div>
                <button class="btn btn-warning" type="submit" data-ng-click="editResource(resource)">Edit</button>
                <button class="btn btn-danger" type="submit" data-ng-click="deleteResource(resource)">Delete</button>
            </div>
        </div>
    </div>
</div>

</div>

<button class="btn btn-default" ng-if="prevlink" ng-click="getResources(prevlink)">Prev</button>
<button class="btn btn-default" ng-if="nextlink" ng-click="getResources(nextlink)">Next</button>